body {
  background-color: #242a39;
  font-family: 'Archivo Narrow', sans-serif;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d9d9d9;
  padding: 20px;
}

.info-item {
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  color: #cf6679;
}

.info-item .a {
  color: #d9d9d9;
}
